.formContainer {
    padding: 20px;
    background: #f0f0f0;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }

  
 button {
    padding: 10px 20px 10px 20px;
    margin: 15px;
    border: none;
    cursor: pointer;
    align-self: center;
    align-items: center;
  }
  
  /* button:hover {
    background: #218838;
  } */
  